node_modules/
dist/
build/
*.log
.DS_Store
.env
.env.local
coverage/
*.tsbuildinfo
output/
!packages/ui/public/output/
packages/ui/public/output/*.json
*.csv
!data/*.csv
data/SPXL_D1.csv
data/SPXL_H1.csv
data/SPXS_D1.csv
data/SPXS_H1.csv
package-lock.json
data/SPXS_H1.csv
data/SPXS_D1.csv
data/SPXL_H1.csv
data/SPXL_D1.csv
